In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1702,tt0496806,85000000,311312624,Ocean's Thirteen,George Clooney|Brad Pitt|Matt Damon|Al Pacino|...,Steven Soderbergh,What are the odds of getting even? 13 to one.,Danny Ocean's team of criminals are back and a...,122,Crime|Thriller,Village Roadshow Pictures|Section Eight|Jerry ...,6/7/2007,6.4,2007
64,tt3332064,150000000,128388320,Pan,Levi Miller|Garrett Hedlund|Hugh Jackman|Roone...,Joe Wright,Every legend has a beginning.,Living a bleak existence at a London orphanage...,111,Adventure|Family|Fantasy,Warner Bros.|Moving Picture Company (MPC)|Berl...,9/24/2015,5.9,2015
437,tt1226229,40000000,90029656,Get Him to the Greek,Jonah Hill|Russell Brand|Rose Byrne|Colm Meane...,Nicholas Stoller,Aaron Green has 72 hours to get a Rock Star fr...,Pinnacle records has the perfect plan to get t...,109,Comedy,Universal Pictures|Spyglass Entertainment|Rela...,6/4/2010,5.9,2010
1058,tt1535438,30000000,114281051,Hope Springs,Meryl Streep|Steve Carell|Tommy Lee Jones|Jean...,David Frankel,"Sometimes to keep the magic, you need to learn...","After thirty years of marriage, a middle-aged ...",100,Drama|Comedy|Romance,Columbia Pictures|Mandate Pictures|Escape Arti...,8/7/2012,5.6,2012
766,tt1448755,66000000,57777106,Killer Elite,Jason Statham|Clive Owen|Robert De Niro|Domini...,Gary McKendry,May the Best Man Live,"Based on a shocking true story, Killer Elite p...",116,Action|Adventure|Thriller,Current Entertainment|Omnilab Media|Ambience E...,9/23/2011,6.0,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [7]:
# Из 6-го задания. Прибыль(убыток) фильма
data['profit'] = data['revenue'] - data['budget']

In [8]:
# Из 11-го задания. 
def count_genres(lst):
    """ Подсчет количества жанров """
    # Определяем словарь жанров
    genres = {}
    for line in lst:
        # Разбиваем строку, если указано несколько жанров
        for genre in line.split('|'):
            if genre in genres:
                genres[genre] += 1
            else:
                genres[genre] = 1
    return genres

In [9]:
# Подсчет значений в колонке df
def cnt_values(df, column):
    return pd.Series(df[column].str.cat(sep='|').split('|')).value_counts()

In [66]:
answers = {} # словарь для ответов

# 1. У какого фильма из списка самый большой бюджет?

In [67]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [9]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [68]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [11]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [69]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [15]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [70]:
answers['4'] = 110

In [21]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [71]:
answers['5'] = 107

In [26]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [72]:
answers['6'] = 'Avatar (tt0499549)'

In [33]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [73]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [35]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [74]:
answers['8'] = 1478

In [39]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [75]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [53]:
revenue_max_2008 = data[data.release_year == 2008].revenue.max()
data[(data.release_year == 2008) & (data.revenue == revenue_max_2008)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [76]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [64]:
profit_min_12_14 = data.query('2012<release_year<=2014').profit.min()
data.query('2012<release_year<=2014')[data.profit == profit_min_12_14]

C:\Users\Lyo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [77]:
answers['11'] = 'Drama'

In [98]:
genres = count_genres(data.genres.tolist())
genres

{'Action': 582,
 'Adventure': 415,
 'Science Fiction': 248,
 'Thriller': 596,
 'Fantasy': 222,
 'Crime': 315,
 'Western': 19,
 'Drama': 782,
 'Family': 260,
 'Animation': 139,
 'Comedy': 683,
 'Mystery': 168,
 'Romance': 308,
 'War': 58,
 'History': 62,
 'Music': 64,
 'Horror': 176,
 'Documentary': 8,
 'Foreign': 2}

ВАРИАНТ 2

In [184]:
cnt_values(data, 'genres')

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [78]:
answers['12'] = 'Drama'

In [189]:
cnt_values(data[data.profit>0], 'genres')

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [79]:
answers['13'] = 'Peter Jackson'

In [149]:
data.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [80]:
answers['14'] = 'Robert Rodriguez'

In [181]:
func(data[data.genres.str.contains('Action')], 'director')

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Josh Trank            1
Oliver Stone          1
Des McAnuff           1
Randall Wallace       1
Robert Redford        1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [81]:
answers['15'] = 'Chris Hemsworth'

In [233]:
# Актеры 2012 года
cast_2012 = data[data.release_year == 2012].cast.str.cat(sep='|').split('|')
# Сумма кассовых сборов за 2012 год по каждому актёру
actors = {}
for actor in cast_2012:
    actors[actor] = data[(data.release_year == 2012) & (data.cast.str.contains(actor))].revenue.sum()
pd.Series(actors).sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Robert Downey Jr.     1519557910
                         ...
Michael Nyqvist          3428048
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Nicolas Cage             2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [82]:
answers['16'] = 'Matt Damon'

In [15]:
cnt_values(data[data.budget > data.budget.mean()], 'cast')

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Gary Cole             1
Sanaa Lathan          1
Albert Finney         1
Anna Hoelck           1
Leighton Meester      1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [84]:
answers['17'] = 'Action'

In [18]:
cnt_values(data[data.cast.str.contains('Nicolas Cage')], 'genres')

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [85]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [28]:
loss = data[data.production_companies.str.contains('Paramount Pictures')].profit.min()
data[(data.production_companies.str.contains('Paramount Pictures')) & (data.profit == loss)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [86]:
answers['19'] = 2015

In [33]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [87]:
answers['20'] = 2014

In [36]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [88]:
answers['21'] = 'Сентябрь'

In [70]:
data.release_date.apply(lambda x: x.split('/')[0]).value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [89]:
answers['22'] = 450

In [89]:
data2 = data.copy()
data2['release_month'] = data2.release_date.apply(lambda x: int(x.split('/')[0]))

In [98]:
len(data2.query('5 < release_month < 9'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [90]:
answers['23'] = 'Peter Jackson'

In [103]:
data2 = data.copy()
data2['release_month'] = data2.release_date.apply(lambda x: int(x.split('/')[0]))
cnt_values((data2.query('release_month < 3 | release_month == 12')), 'director')

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
                    ..
Ben Younger          1
Thor Freudenthal     1
NimrÃ³d Antal        1
Anand Tucker         1
McG                  1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [91]:
answers['24'] = 'Four By Two Productions'

In [100]:
# Добавляем колонку len_title во временный датасет
data2 = data.copy()
data2['len_title'] = data2.original_title.apply(lambda x: len(x))
# Компании
production_companies = set(data.production_companies.str.cat(sep='|').split('|'))
# Длина названия фильмов (среднее значение)
company_cnt_words = {}
for company in production_companies:
    company_cnt_words[company] = data2[data2.production_companies.str.contains(company)].len_title.mean()
# Результат
pd.Series(company_cnt_words).sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [92]:
answers['25'] = 'Midnight Picture Show'

In [101]:
data2 = data.copy()
# Словарь для результата
cnt_overview = {}
# Добавдяем колонку с количеством слов в описании
data2['cnt_overview'] = data2.overview.apply(lambda x: len(x.split()))
for company in production_companies:
    # Вычисляем среднее значение
    cnt_overview[company] = data2[data2.production_companies.str.contains(company)].cnt_overview.mean()
pd.Series(cnt_overview).sort_values(ascending=False).head()

Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      159.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [93]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [51]:
data.sort_values(['vote_average'], ascending=False).head(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [94]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [65]:
# Актёры
actors = set(data.cast.str.cat(sep='|').split('|'))
actors

{'Sonoya Mizuno',
 'Leigh Whannell',
 'Teo Halm',
 'Mackenzie Davis',
 'Jessica Szohr',
 'Patricia Belcher',
 'Elizabeth Reaser',
 'Mike Cameron',
 'John Travolta',
 'Arthur Angel',
 'Lisa Bonet',
 'Amanda Bynes',
 'Drake Bell',
 'Simon Woods',
 'Danielle Panabaker',
 'Stan Collymore',
 'Eliza Dushku',
 'Johanna Braddy',
 'Ike Barinholtz',
 'Paul Freeman',
 'Lewis Fitz-Gerald',
 'Darius Rose',
 'Chris Sanders',
 'Makenzie Vega',
 'Robert De Niro',
 'Ron Silver',
 'Marshall Chapman',
 'Guy Torry',
 'Daniel Day-Lewis',
 'Dylan McDermott',
 'Daniel Gillies',
 'Caitlin Stasey',
 'Lloyd Owen',
 'Richard Goteri',
 'Emilio Rivera',
 'Jason Segel',
 'Scottie Thompson',
 'Kerry Condon',
 'Eduardo VerÃ¡stegui',
 'Chris Wedge',
 'Tom Sturridge',
 'Emma Bell',
 'Saffron Burrows',
 'Kristen Cloke',
 'Diedrich Bader',
 'Vanessa Hudgens',
 'AndrÃ© Benjamin',
 'Marley Shelton',
 'Jenny Slate',
 'Clancy Brown',
 'Robert Carradine',
 'Ezra Miller',
 'Willow Smith',
 'Jemaine Clement',
 'Elizabeth Banks',
 'Brian Dietzen',
 'Justin Chon',
 'Rosie Shaw',
 'M.C. Gainey',
 'Imelda Staunton',
 'Dan Levy',
 'Ron Perlman',
 'Roxanne McKee',
 'Kris Kristofferson',
 'Jane Fonda',
 'J.R. Villarreal',
 'Liza Lapira',
 'Joseph Cross',
 'Timothy Dalton',
 'Helen McCrory',
 'Edward Burns',
 'Nicky Whelan',
 'Kristin Davis',
 'Dianne Wiest',
 'Laura Linney',
 'Ben Whishaw',
 'Theo James',
 'Lea Thompson',
 'Martin Donovan',
 'Stellan SkarsgÃ¥rd',
 'Isabel Lucas',
 'Amaury Nolasco',
 'Richard Jenkins',
 'Michael Roof',
 'Courtney Love',
 'Mia Kirshner',
 'Tia Carrere',
 'Javier Bardem',
 'Maria Smolnikova',
 'Carrie-Anne Moss',
 'Kevin Pollak',
 'Megan Fox',
 'Max Thieriot',
 'Rob Corddry',
 'January Jones',
 'Juan Carlos HernÃ¡ndez',
 'Jamie Chung',
 'Halle Berry',
 'Lily Collins',
 'Denise Richards',
 'Megan Boone',
 'David Hasselhoff',
 'Marc Fayolle',
 'Leonardo DiCaprio',
 'Geena Davis',
 'Michael Cera',
 'Saxon Sharbino',
 'Shannon Woodward',
 'Leah Remini',
 'Eva Mendes',
 'RubÃ©n Blades',
 'Nona Gaye',
 'Shari Headley',
 'Jonathan Frakes',
 'Kate Beahan',
 'Michelle Dockery',
 'Alan Cumming',
 'Gaspard Ulliel',
 'Gerry Bednob',
 'Tye Sheridan',
 'Jean Michel ParÃ©',
 'Robert Carlyle',
 'June Diane Raphael',
 'Allison Cratchley',
 'Thomas Curtis',
 'Jorge Diaz',
 'Lauren Bittner',
 'Bobby Campo',
 'Will Patton',
 'John Forsythe',
 'Don Knotts',
 'Adam Alexi-Malle',
 'Ben Chaplin',
 'Billy Ray Cyrus',
 'Ty Burrell',
 'Michael Bunin',
 'James Kidnie',
 'Taissa Farmiga',
 'Steele Stebbins',
 'Kathleen Turner',
 'Lydia Hull',
 'Sahira Nair',
 'CÃ©cile De France',
 'JoBeth Williams',
 'Mamie Gummer',
 'Ben Affleck',
 'Zachary Quinto',
 "Ser'Darius Blain",
 'Yvan Attal',
 'Lymari Nadal',
 'Katija Pevec',
 'Steve Coogan',
 'Diego Boneta',
 'Sydney Pollack',
 'WolÃ© Parks',
 'Jane Lynch',
 'Uday Chopra',
 'Beth Grant',
 'Adelaide Clemens',
 'Keira Knightley',
 "Chris O'Donnell",
 'Ryan Newman',
 'Reynaldo Gallegos',
 'Charles Dance',
 'Jean-Marie Lamour',
 'Paul RodrÃ\xadguez',
 'Tsuyoshi Ihara',
 'Victoria Justice',
 'Leonard Roberts',
 "Peter O'Toole",
 'Dave Bautista',
 'Matt Walsh',
 'Michael Stuhlbarg',
 'Mandy Moore',
 'Gary Oldman',
 'Ed Skrein',
 'Max Ryan',
 'Colin Salmon',
 'Haley Joel Osment',
 'Mark Rolston',
 'Paula GarcÃ©s',
 'Zach Galifianakis',
 'Albert Finney',
 'Olivia Cooke',
 'Don Johnson',
 'Louis Gossett, Jr.',
 'Jane Horrocks',
 'Bill Hader',
 'Eileen Atkins',
 'Amy Ryan',
 'Lauren Hodges',
 'Jodie Whittaker',
 'Harriet Owen',
 'Zekeria Ebrahimi',
 'Octavia Spencer',
 'Lisa Ryder',
 'Usher Raymond',
 'Debra Messing',
 'Barry Watson',
 'Skeet Ulrich',
 'Rob Lowe',
 'Kate Bosworth',
 'Takamasa Ishihara',
 'Cameron Bright',
 'Richard Gant',
 'Amber Heard',
 'Helena Bonham Carter',
 'Justin Guarini ',
 'David Calder',
 'Pat Healy',
 'Sarah Polley',
 'Madison Pettis',
 'Herman Osorio',
 'Samuel Joslin',
 'Beau Bridges',
 'Charlotte Le Bon',
 'Travis Wester',
 'Chyler Leigh',
 'Heiner Lauterbach',
 'Tamala Jones',
 'Hill Harper',
 'David Banner',
 'Billie Whitelaw',
 'Rutger Hauer',
 'Sharon Leal',
 'Stephen Rea',
 'Sarah Michelle Gellar',
 'Susan Brown',
 'Armin Mueller-Stahl',
 'Brittany Daniel',
 'Jason Biggs',
 'Jana Hrabetova',
 'Willie Garson',
 'David Burrows',
 'Rohan Chand',
 'Rodger Bumpass',
 'Fred Dalton Thompson',
 'Chris Messina',
 'Shirley MacLaine',
 'Lou Taylor Pucci',
 'Rob Reiner',
 'Mike White',
 'Max Records',
 'Tyler Mane',
 'Ona Grauer',
 'Adrian Paul',
 'Jim Belushi',
 'Ben Levin',
 'Justin Theroux',
 'Columbus Short',
 'Catherine Bell',
 'Yolandi Visser',
 'Anna Faris',
 'TomÃ¡s MiliÃ¡n',
 'Harish Patel',
 'Marsha Thomason',
 'Brian Geraghty',
 'Eamonn Walker',
 'Kevin Sorbo',
 'Katie Featherston',
 'Omar Benson Miller',
 'Noah Schnapp',
 'Hank Azaria',
 'Paul Johansson',
 'Jonathan Keltz',
 'Zoe McLellan',
 'Corey Hawkins',
 'Alan Dale',
 'Allen Leech',
 'Paul Rudd',
 'Teddy Geiger',
 'Jay Baruchel',
 'Ahney Her',
 'Stephen Dillane',
 'Holly Hunter',
 'Kevin Connolly',
 'Zoe Kazan',
 'Chris Hemsworth',
 'Lynn Collins',
 'Daryl Sabara',
 'Michael Wincott',
 'Graham McTavish',
 'Larry the Cable Guy',
 'Darwin Shaw',
 'Edie Falco',
 'John Magaro',
 'Mitch Baker',
 "Sofia Black-D'Elia",
 'Nick Rotteveel',
 'Chad Michael Murray',
 'Leslie Bibb',
 'Stevie Wonder',
 'Fernanda Romero',
 'Daniel Craig',
 'Harrison Ford',
 'Tyler Posey',
 'Erin Daniels',
 'Ana de la Reguera',
 'Lauren Hutton',
 'Carrie Fisher',
 'Jonathan Brewer',
 'Jesse Eisenberg',
 'Robert Patrick',
 'Kate Butler',
 'Julia Louis-Dreyfus',
 'Taron Egerton',
 'Lily James',
 'Kevin Zegers',
 'Brian Howe',
 'Anjelica Huston',
 'Wentworth Miller',
 'Brandon Routh',
 'Eddie Izzard',
 'Augustus Prew',
 'Julian Rhind-Tutt',
 'Malin Ã…kerman',
 'Riley Keough',
 'Jason London',
 'William Lee Scott',
 'Paul Whitehouse',
 'Sophia Bush',
 'Michael Clarke Duncan',
 'Leon Rippy',
 'Kevin James',
 'Jake Gyllenhaal',
 'Mischa Barton',
 'Danny DeVito',
 'Rhiana Griffith',
 'Michael Fassbender',
 'Ron Livingston',
 'Ivy George',
 'Ed Helms',
 'Cameron Diaz',
 'Richmond Arquette',
 'Tim Matheson',
 'Toni Collette',
 'Ben Barnes',
 'Malcolm David Kelley',
 'Elvis Polanski',
 'Tang Wei',
 'James Remar',
 'Douglas Smith',
 'Aly Michalka',
 'Devon Bostick',
 'Whitney Houston',
 'Sophie Kennedy Clark',
 'Paul Soter',
 'David Spade',
 'Bernie Casey',
 'Matthew Lillard',
 'Charlie Cox',
 'Justin Chatwin',
 'Mike Vogel',
 'Christopher Dunne',
 'Sally Hawkins',
 'Dillon Freasier',
 'Lombardo Boyar',
 'Mari Morrow',
 'Oanh Nguyen',
 'Paula Patton',
 'Brooke Smith',
 'Oliver Cooper',
 'Bitsie Tulloch',
 'Jason Mewes',
 'Maggie Elizabeth Jones',
 'Giancarlo Giannini',
 'Kristen Miller',
 'Michelle Rodriguez',
 'Aunjanue Ellis',
 'Sage Ryan',
 'Stanley Tucci',
 'Julie Andrews',
 'Alexander Gould',
 'Martin Sheen',
 'Ellia English',
 'Hugh Keays-Byrne',
 'Scott Eastwood',
 'Vivica A. Fox',
 'Nicholas Braun',
 'Eric Balfour',
 'Virginia Gardner',
 'Judy Davis',
 'Jerry Ferrara',
 'Gaelan Connell',
 'Alan Rickman',
 'Joel Garland',
 'Daniel Tay',
 'Joy Bryant',
 'Jennifer Aniston',
 'Burt Reynolds',
 'Aitana SÃ¡nchez-GijÃ³n',
 'Mae Whitman',
 'Ken Kirzinger',
 'Tom Sizemore',
 'Scott Mechlowicz',
 'Dakota Fanning',
 'Gabriella Wilde',
 'Jere Burns',
 'Aryana Engineer',
 'Frances de la Tour',
 'Chris Rock',
 'Bradley Cooper',
 'Billy Crudup',
 'Brad Dourif',
 'Justice Smith',
 'Jake Weber',
 'Isla Fisher',
 'Tom Everett Scott',
 'DeRay Davis',
 'Benjamin Kanes',
 'Phyllis Smith',
 'Helmut Bakaitis',
 'Sarah Bolger',
 'Lusia Strus',
 'Lyriq Bent',
 'Matt Bomer',
 'Allen Covert',
 'Corey Burton',
 'Josh Holloway',
 'Lee Majors',
 'Jae Head',
 'Rami Malek',
 'Freddie Highmore',
 'Fana Mokoena',
 'Dave Franco',
 'Max Casella',
 'Edward Furlong',
 'Josh Brolin',
 'Meryl Streep',
 'Rosemary Harris',
 'Katharine McPhee',
 'Dania Ramirez',
 'Jose Pablo Cantillo',
 'Benicio del Toro',
 'Jonathan Lipnicki',
 'Geraldine Somerville',
 'Adam Pascal',
 'Zhang Ziyi',
 'Cara Delevingne',
 'DJ Qualls',
 'Glenn Morshower',
 'Kim Cattrall',
 'Busy Philipps',
 'Benedict Wong',
 'Steve Harvey',
 'Omar Sharif',
 'Bree Turner',
 'Rhys Ifans',
 'Stephen Fry',
 'Richard Cabral',
 'Finn Wittrock',
 'Denzel Whitaker',
 'Mike Epps',
 'Natalie Martinez',
 'Nash Edgerton',
 'Patricia Clarkson',
 'Sigourney Weaver',
 'Mimi Rogers',
 'Jack Davenport',
 'Ryo Kase',
 'Bruce McGill',
 'Darrin Henson',
 'Heidi Hawkins',
 'John Robinson',
 'Danny Trejo',
 'Edward James Olmos',
 'Michael Nyqvist',
 'Stephen Baldwin',
 'David Moscow',
 'Luke Wilson',
 'Jeremy Sheffield',
 'Carmen Electra',
 'Cynthia Stevenson',
 'Lucas Jade Zumann',
 'Jacob Vargas',
 'Iain Glen',
 'Pihla Viitala',
 'Bruce Boxleitner',
 'Antony Starr',
 'Beverly Todd',
 'Aaron Taylor-Johnson',
 'Sienna Miller',
 'Mark Strong',
 'Susanna Thompson',
 'Leslie Nielsen',
 'Zachary Knighton',
 'Kevin Dillon',
 'Myleene Klass',
 'Faizon Love',
 'Jordan Nagai',
 'Tory Mussett',
 'LeVar Burton',
 'Amanda Detmer',
 'Rebel Wilson',
 'Hunter McCracken',
 'Andy Serkis',
 'Luke Pasqualino',
 'Omar Metwally',
 'Dash Mihok',
 'Cindy Cheung',
 'Mehmet Ferda',
 'Gisele BÃ¼ndchen',
 'Kelly Carlson',
 'Lance Reddick',
 'Christopher McDonald',
 'Steven Strait',
 'Dane DeHaan',
 'Ralph Fiennes',
 'Fergus Riordan',
 'Emily Procter',
 'Robert Klein',
 'Eddie Deezen',
 'John Mahoney',
 'John Finn',
 'Aaron Yoo',
 'Chris Noth',
 'David Andrews',
 'Emilio EchevarrÃ\xada',
 'Dan Futterman',
 'Raffey Cassidy',
 'Leven Rambin',
 'ZoÃ« Kravitz',
 'Priyanka Xi',
 'Jeremy Davies',
 'Dianna Agron',
 'Paul Bettany',
 'James Cromwell',
 'Angus Macfadyen',
 'Alexander Siddig',
 'Sarah Dubrovsky',
 'Eddie J. Fernandez',
 'Mark Consuelos',
 'Jamie Draven',
 'Craig Ferguson',
 'Adam Levine',
 'Kacey Barnfield',
 'Bruno Campos',
 'Fan Bingbing',
 'Brady Bluhm',
 'Don Curry',
 'Amanda Seyfried',
 'Dakota Goyo',
 'Roselyn SÃ¡nchez',
 'Raini Rodriguez',
 'Terence Stamp',
 'Alex Rocco',
 'Miles Teller',
 'Sean Astin',
 'Allison Tolman',
 'Clark Duke',
 'Luenell',
 'Dane Cook',
 'Dalia HernÃ¡ndez',
 'Abigail Breslin',
 'Jared Gilman',
 'Michael Biehn',
 'Emilia Fox',
 'Samantha Mumba',
 'Sienna Guillory',
 'Aidan McArdle',
 'Dawn French',
 'Michael Caine',
 'Emi Ikehata',
 'William H. Macy',
 "O'Shea Jackson Jr.",
 'Jessica Guadix',
 "Eileen O'Higgins",
 'Judd Hirsch',
 'Mary Beth Hurt',
 'Ryan McCluskey',
 'Wilson Jermaine Heredia',
 'Keri Russell',
 'Drew Barrymore',
 'Clint Howard',
 'Dustin Hoffman',
 'Agata Buzek',
 'Karen Allen',
 'Bahar Soomekh',
 'Yvonne Strahovski',
 'Wes Bentley',
 'Mark Brady',
 'Sean Combs',
 'Nadia Townsend',
 'Will Yun Lee',
 'Ricky Gervais',
 'Yanina Studilina',
 'Brennan Brown',
 'James Rebhorn',
 'Cory Monteith',
 'Jason Patric',
 'David Krumholtz',
 'Portia Dawson',
 'Mel Brooks',
 'Michael-Leon Wooley',
 'Monet Mazur',
 'MÃ©lanie Thierry',
 'Richard Armitage',
 'Robert Pattinson',
 'BeyoncÃ© Knowles',
 'Joshua Jackson',
 'Dany Verissimo-Petit',
 'James Ransone',
 'Anson Mount',
 'Josh Helman',
 'Ariel Winter',
 'Gabriel Mann',
 'Ted Levine',
 'Frankie Muniz',
 'Sid Haig',
 'Michael Kenneth Williams',
 'Roger Barclay',
 'Jason Bateman',
 'Alexis Georgoulis',
 'Jack Bright',
 'Percy Daggs III',
 'Jessica Barth',
 'Luke Treadaway',
 'Thomas McDonell',
 'Dina Spybey-Waters',
 'Kellan Lutz',
 'Erica Leerhsen',
 'Jack Kehler',
 'Maggie Gyllenhaal',
 'Kevin Dunn',
 'John Cho',
 'Deniz Akdeniz',
 'Izabela Vidovic',
 'Brian Blessed',
 'Bruce Willis',
 'Alec Baldwin',
 'Jerry Seinfeld',
 'Michael Zegen',
 'Martin Starr',
 'Emma de Caunes',
 'Steve Howey',
 'Aimee Teegarden',
 'Bridget Fonda',
 'Naveen Andrews',
 'James Buckley',
 'Peter Sarsgaard',
 'Brendan Gleeson',
 'Tom Skerritt',
 'Kim Dickens',
 'Isaac Hempstead Wright',
 'Jamie Elman',
 'Anne Archer',
 'Harry Connick Jr.',
 'Ludivine Sagnier',
 'Nia Long',
 'Alicia Silverstone',
 'Alice Braga',
 'MÃ©lanie Laurent',
 'Danny Huston',
 'Amara Miller',
 'Jeff Anderson',
 'Gina Philips',
 'Nancy Cartwright',
 'Billy Campbell',
 'Ray Winstone',
 'Joel Kinnaman',
 'Matthew Settle',
 'Dennis Haysbert',
 'Vera Farmiga',
 'Franka Potente',
 'Zac Efron',
 'Colin Farrell',
 'Sean Faris',
 'Leland Orser',
 'Tucker Albrizzi',
 'Taryn Manning',
 'Megan Park',
 'Kristin Kreuk',
 'Josh Pence',
 'Sandra Bullock',
 'Dermot Mulroney',
 'Claire Danes',
 'John Michael Higgins',
 'Marc Anthony',
 'Juliette Lewis',
 'Skyler Gisondo',
 'Sean Bridgers',
 'Clark Gregg',
 'Jacob Lofland',
 'Thora Birch',
 'Kristy Swanson',
 'Andrei Dementiev',
 'Jermaine Williams',
 'Lily Tomlin',
 'Kat Dennings',
 'Agnes Bruckner',
 'LaJessie Smith',
 'Oliver Reed',
 'Britt Robertson',
 'Natalie Dormer',
 'Wayne Newton',
 'Affion Crockett',
 "Tony D'Amario",
 'Jodie Foster',
 'Kurt Russell',
 'Michael Landes',
 'Kiele Sanchez',
 "Mo'Nique",
 'David Morse',
 'Josh Hammond',
 'Alexander Pollock',
 'Krysten Ritter',
 'Susan Sarandon',
 'Peter Outerbridge',
 'Lisa Kudrow',
 'RenÃ©e Taylor',
 'Brad Pitt',
 'Joely Richardson',
 'Craig Berry',
 'Terry Kinney',
 'Jon Heder',
 'Emma Roberts',
 'Omar J. Dorsey',
 'Ari Graynor',
 'Margo Martindale',
 'Betsy Russell',
 'Zeljko Ivanek',
 'Steven Brand',
 'David Schwimmer',
 'Chris Sarandon',
 'Sylvaine Strike',
 'Bill Moseley',
 'John Goodman',
 'Bibi Naceri',
 'Greg Siff',
 'Lizzy Caplan',
 'Mark Addy',
 'Aaron Eckhart',
 'Sanoe Lake',
 'Seth MacFarlane',
 'Ethan Suplee',
 'Kevin McKidd',
 'Finnegan Williams',
 'Astro',
 'Donnie Yen',
 'Will Sasso',
 'Sayed Badreya',
 'Yousuf Azami',
 'Scott Caan',
 'Nick Krause',
 'Cary-Hiroyuki Tagawa',
 'Mako',
 'Eric Mabius',
 'Matthew Broderick',
 'Michael Rainey Jr.',
 'Gary Dourdan',
 'Ron Glass',
 'Jason Alexander',
 'Breckin Meyer',
 'Maitland Ward',
 'Ian McKellen',
 'Nicholas Art',
 'Wen Bin Huang',
 'Katy Perry',
 'Tika Sumpter',
 'Jonah Hill',
 'Jill Scott',
 'Peter Gallagher',
 'Ken Davitian',
 'Tom Hollander',
 'Matthew Macfadyen',
 'John Ortiz',
 'Miles Fisher',
 'Tatum Etheridge',
 'Eric Christian Olsen',
 'Colleen Haskell',
 'Daeg Faerch',
 'Jimmi Simpson',
 'Collette Wolfe',
 "Mike O'Brien",
 'Spencer Garrett',
 'Joan Allen',
 'Jayma Mays',
 'Selena Gomez',
 'Mike Myers',
 'Nicole Beharie',
 'Mariah Carey',
 'Jonathan Bennett',
 'Kiefer Sutherland',
 'Garry Shandling',
 'Joe Anderson',
 'Harry Treadaway',
 'Frankie Faison',
 'Luke Bracey',
 'Joseph Morgan',
 'Thomas Robinson',
 'Rolf Kanies',
 'Sterling Jerins',
 'Ron Rifkin',
 'Adam Beach',
 'Liane Balaban',
 'Laurence Fox',
 'Viola Davis',
 'Jada Pinkett Smith',
 'Dan Hedaya',
 'John Cleese',
 'Gary Cole',
 'Carly Schroeder',
 'HÃ©ctor JimÃ©nez',
 'Noah Taylor',
 'Alistair McGowan',
 'Elisabeth Harnois',
 'Phaldut Sharma',
 'Ashley Greene',
 'Jonathan Groff',
 'Amy Irving',
 'Callan Mulvey',
 'Jena Malone',
 'Tatjana PajkoviÄ‡',
 'Costas Mandylor',
 'Rhys Darby',
 'Parker Posey',
 'Andy Buckley',
 'GQ',
 'Nick Stahl',
 'Sophie Monk',
 'Cole Konis',
 'Justin Long',
 'Alessandro Gassman',
 'Wang Baoqiang',
 'Fred Ward',
 'Caity Lotz',
 'Jonathan Tucker',
 'Tony Amendola',
 'Jason Ritter',
 'Maya Rudolph',
 'Rory Kinnear',
 'Colm Meaney',
 'Gary Lewis',
 'Emily Deschanel',
 'Christian Bale',
 'Mark Wahlberg',
 'Yuan Wenkang',
 'Jesse Metcalfe',
 'Idris Elba',
 'Michael Eklund',
 'Jack McBrayer',
 'Dakota Johnson',
 'SofÃ\xada Vergara',
 'Harris Yulin',
 'Gina Carano',
 'Karen Gillan',
 'Rachel Melvin',
 'Albert Brooks',
 'Hannah Ware',
 'Jessica Alba',
 'Aasif Mandvi',
 'John Rhys-Davies',
 'Nat Wolff',
 'Travis Oates',
 'Barbara Jefford',
 'Audrey Tautou',
 'Ben Kingsley',
 'Brooklyn Decker',
 'Julian McMahon',
 'Olivier Martinez',
 'Daniel Henney',
 'Marg Helgenberger',
 'Aman Johal',
 'Suraj Sharma',
 'Andie MacDowell',
 'Michelle Yeoh',
 'Resse Hartwig',
 'Ellen Wroe',
 'Skylar Astin',
 'Jason Gray-Stanford',
 'Nelsan Ellis',
 'Corey Johnson',
 'Sean Patrick Thomas',
 'Jason Statham',
 'Harold Perrineau',
 'Mac McDonald',
 'Amy Smart',
 'Patricia Reyes SpÃ\xadndola',
 'S. Epatha Merkerson',
 'Isabelle NÃ©lisse',
 'John Ratzenberger',
 'Nicholas King',
 'Marion Cotillard',
 'Claudia Christian',
 'Mel Gibson',
 'James Spader',
 'Chris Pratt',
 'Kelly Reilly',
 'SÃ´nia Braga',
 'Gabourey Sidibe',
 'James Purefoy',
 'Moran Atias',
 'Matthew Walker',
 'L. Scott Caldwell',
 'Allie Mickelson',
 'Alexander SkarsgÃ¥rd',
 'Aziz Ansari',
 'Nikki Reed',
 'Rupert Grint',
 'Dejan Angelov',
 'David Duchovny',
 'Steve Buscemi',
 'Bill Fagerbakke',
 'James McAvoy',
 'Kevin Bacon',
 'Adrienne Shaw',
 'Kristen Wilson',
 'India Eisley',
 'Mini Anden',
 'Ned Beatty',
 'Ethan Hawke',
 'Portia Doubleday',
 'Jennifer Connelly',
 'Anika Noni Rose',
 'Vanessa Ferlito',
 'Imogen Poots',
 'Richard Felix',
 'Josh Wiggins',
 'Chris Carmack',
 'Asa Butterfield',
 'Nick Nolte',
 'Sprague Grayden',
 'Tiger Hu Chen',
 'Nathan Lane',
 'Jeff Daniels',
 'Melissa Benoist',
 'Charlize Theron',
 'Jessica Brown Findlay',
 'Edward Norton',
 'Mickey Rourke',
 'Sheri Moon Zombie',
 'Rick Malambri',
 'Robert Capron',
 'Chris Mulkey',
 'Sarah Wynter',
 'Andrew Hampton',
 'Udo Kier',
 'Kelan Pannell',
 'Josh Hartnett',
 'Marisa Tomei',
 'Rowan Atkinson',
 'Michael Lonsdale',
 'Emily Bett Rickards',
 'Jack Nicholson',
 'Luke Ford',
 'Bokeem Woodbine',
 'Brian Van Holt',
 'Kathryn McCormick',
 'AdriÃ¡n Alonso Barona',
 'Jason Earles',
 'Christopher Kovaleski',
 'Tony Curran',
 'John Cena',
 'Paul Giamatti',
 'Jasmine Trinca',
 'Clint Eastwood',
 'Cliff Curtis',
 'Emily Blunt',
 'Karel Roden',
 'Alex Jennings',
 'Marin Ireland',
 'Skyler Samuels',
 'Courteney Cox',
 'Alec Wilson',
 'Danny McCarthy',
 'Cameron Boyce',
 'Lisa Barbuscia',
 'Chopper Bernet',
 'Paz Vega',
 'Russell Means',
 'America Ferrera',
 'Eriq La Salle',
 'Amy Sedaris',
 'Catherine Kresge',
 'Jack McElhone',
 'Gates McFadden',
 'Taylor Schilling',
 'David Zayas',
 'Steven Mackintosh',
 'Efren Ramirez',
 'Kristen Schaal',
 'Ed Speleers',
 'Ayush Tandon',
 'Lisa Ann Walter',
 'Chelsea Handler',
 'Trevor Morgan',
 'Charles S. Dutton',
 'Randy Couture',
 'Adam G. Sevani',
 'Craig Bierko',
 'Taylor Dooley',
 'Debra Winger',
 'Bill Smitrovich',
 'James Francis Kelly III',
 'Susie Essman',
 'Orlando Jones',
 'Paul Herman',
 'William Mapother',
 'Ritchie Coster',
 'Jolie Vanier',
 ...}

In [64]:
# Словарь, где сохраним результат
pairs = {}
for actor in actors:
    # Собираем напарников
    cast = data[data.cast.str.contains(actor)].cast.str.cat(sep='|').split('|')
    # Убираем самого актера из списка
    while actor in cast:
        cast.remove(actor)
    # Подсчитываем
    cnt_act = pd.Series(cast).value_counts()
    # Опускаем пары, которые снимались менее min_value раз
    min_value = 6
    if cnt_act.values[0] > min_value:
        cnt_act = cnt_act[cnt_act > min_value]
        pairs[actor] = cnt_act # {cnt_act.index[0]: cnt_act.values[0]}
pairs

{'Rupert Grint': Emma Watson         8
 Daniel Radcliffe    8
 dtype: int64,
 'Daniel Radcliffe': Emma Watson     8
 Rupert Grint    8
 dtype: int64,
 'Emma Watson': Rupert Grint        8
 Daniel Radcliffe    8
 dtype: int64}

# Submission

In [96]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [95]:
len(answers)

27